@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<h2>Index</h2>

<div class="row">
    <div>
        @Html.ActionLink("List of travels", "Index", "Travels")<br />
        @Html.ActionLink("List of points", "Index", "Points")<br />
        @Html.ActionLink("List of car types", "Index", "Cartypes")<br />
        @Html.ActionLink("List of directions", "Index", "Directions")<br />
        @Html.ActionLink("List of cars", "Index", "Cars")
        <br /><br />

        @Html.ActionLink("Add car type", "Create", "CarTypes")<br />
        @Html.ActionLink("Add car", "Create", "Cars")<br />
        @Html.ActionLink("Add departure/destination point", "Create", "Points") <br />
        @Html.ActionLink("Add directions", "Create", "Directions") <br />
        @Html.ActionLink("Add travel", "Create", "Travels")<br />

    </div>
</div>